nav {
  width: 100%;
  color: rgb(233, 234, 241);
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition:  background 0s ease;
}
nav .logo {
  /* height: 150px; */
  width: 300px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 19px;
}
nav.sticky {
 background: #3a6d8c;
 transition: 0.5s;
}

/* nav.blue-bg {
  background-color: rgb(89, 89, 113);
} */
/* button.btn {
  /* Style for your button */
/* } */ 
.menu_icon{
  display: none;
}

/* media query */
@media (max-width : 1000px){
  .logo{
    width: 100px;
  }
  nav ul li{
    margin: 10px 15px;
  }
}
@media (max-width : 840px){
  nav{
    padding: 15px 0;
  }
  nav ul{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3a6d8c;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
  }
  nav ul li{
    display: block;
    margin: 25px 40px;
  }
  .menu_icon{
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu{
    right: -200px;
  }
}